@import url('[https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap](https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap)');

body {
  margin: 0;
  padding: 0;
  background-color: #f8fafc;
  font-family: 'Inter', sans-serif;
}

#root {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
  min-height: 100vh;
  display: block;
}

h1,
h2,
h3,
h4,
p {
  font-family: 'Inter', sans-serif;
  margin: 0;
  letter-spacing: normal;
}

/* Clases útiles para ocultar barras de desplazamiento (Gantt) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
